<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net35" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net35" requireReinstallation="true" />
  <package id="NLog" version="4.4.9" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.9" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.9" targetFramework="net461" />
</packages>